[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "*"
jupyter = "*"
seaborn = "*"
hyperopt = "*"
xgboost = "*"
fastparquet = "*"
boto3 = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
